$text-color: white;
$date-color: hsl(246, 80%, 60%);
$light-red-w: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red-s: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);
$bg-color: hsl(226, 43%, 10%);
$bg-section-color: hsl(235, 46%, 20%);
$bg-active-section-color: hsl(237, 39%, 35%);
$desaturated-blue: hsl(235, 45%, 61%);
$darkened-text: #bdc1ff;
$link-color:rgb(221, 224, 244);